.imagePlaceholderIcon,
.imagePlaceholderIcon1,
.imagePlaceholderIcon2 {
  position: absolute;
  top: 258.88px;
  left: 908.52px;
  width: 215.48px;
  height: 247.12px;
  object-fit: cover;
}
.imagePlaceholderIcon1,
.imagePlaceholderIcon2 {
  left: 681.39px;
}
.imagePlaceholderIcon2 {
  top: 0;
  width: 442.61px;
}
.imagePlaceholderIcon3,
.imagePlaceholderIcon4 {
  position: absolute;
  top: 353.02px;
  left: 454.26px;
  width: 215.48px;
  height: 152.98px;
  object-fit: cover;
}
.imagePlaceholderIcon4 {
  top: 0;
  height: 341.26px;
}
.imagePlaceholderIcon5,
.imagePlaceholderIcon6,
.imagePlaceholderIcon7 {
  position: absolute;
  top: 0;
  left: 227.13px;
  width: 215.48px;
  height: 506px;
  object-fit: cover;
}
.imagePlaceholderIcon6,
.imagePlaceholderIcon7 {
  top: 258.88px;
  left: 0;
  height: 247.12px;
}
.imagePlaceholderIcon7 {
  top: 0;
}
.photos {
  position: absolute;
  top: 148px;
  left: 0;
  width: 1124px;
  height: 506px;
}
.imagePlaceholderIcon10,
.imagePlaceholderIcon8,
.imagePlaceholderIcon9 {
  position: absolute;
  top: 258.88px;
  left: -1124px;
  width: 215.48px;
  height: 247.12px;
  object-fit: cover;
}
.imagePlaceholderIcon10,
.imagePlaceholderIcon9 {
  left: -896.87px;
}
.imagePlaceholderIcon10 {
  top: 0;
  left: -1124px;
  width: 442.61px;
}
.imagePlaceholderIcon11,
.imagePlaceholderIcon12 {
  position: absolute;
  top: 353.02px;
  left: -669.74px;
  width: 215.48px;
  height: 152.98px;
  object-fit: cover;
}
.imagePlaceholderIcon12 {
  top: 0;
  height: 341.26px;
}
.imagePlaceholderIcon13,
.imagePlaceholderIcon14,
.imagePlaceholderIcon15 {
  position: absolute;
  top: 0;
  left: -442.61px;
  width: 215.48px;
  height: 506px;
  object-fit: cover;
}
.imagePlaceholderIcon14,
.imagePlaceholderIcon15 {
  top: 258.88px;
  left: -215.48px;
  height: 247.12px;
}
.imagePlaceholderIcon15 {
  top: 0;
}
.photos1,
.photos2 {
  position: absolute;
  width: 1124px;
  height: 506px;
}
.photos1 {
  top: 672px;
  left: 1124px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.photos2 {
  top: 1196px;
  left: 0;
}
.clickHere {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 120%;
  font-weight: 600;
}
.button {
  position: absolute;
  top: 0;
  left: 953px;
  border-radius: var(--br-sm);
  background-color: var(--light-secondary-color-501);
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.gallery {
  position: absolute;
  top: 788px;
  left: 78px;
  width: 1124px;
  height: 1702px;
  text-align: center;
  font-size: var(--body-body-1-semibold1-size);
  color: var(--light-text-link-color-white1);
  font-family: var(--body-body-1-semibold1);
}
